body
{
  padding: 0;
  margin: 0;
  background-color: $background-color;
  font-family: regular-robo;
}

button
{
  height: 30px;
  padding: 0 15px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 0.95em;
}

.create-button
{
  background-color: $blue;
}

.change-button
{
  background-color: $green;
}

.back-button
{
  background-color: $green;
  width: 150px;
}

.delete-button
{
  background-color: $red;
}

header
{
  background-color: #fff;
}

.wrapper
{
  display: flex;
  justify-content: space-between;

  nav
  {
    width: 100px;
    height: calc(100vh - 80px);
    background-color: #fff;
  }

  main
  {
    flex-basis: calc(100% - 200px);
    flex-shrink: 1;
    margin-right: 50px;
  }
}